---
import { Icon } from "astro-icon/components";
import { map } from "astro:schema";

const { instagram, etsy, eventbrite, linkedIn, websites } =
	Astro.props.resident;

Array.isArray(websites);

const websitesList =
	websites && websites.length > 0
		? websites.map((website: string | URL) => {
				const websiteURL = website ? new URL(website) : null;
				const websiteString = websiteURL ? websiteURL.hostname : null;

				return { websiteURL, websiteString };
			})
		: [];
---

<div class="wrapper">
	{
		websitesList.map((website) => (
			<a
				class="website"
				href={website.websiteURL}
			>
				{website.websiteString}
			</a>
		))
	}

	<div class="socials">
		{
			instagram && (
				<a
					href={instagram}
					target="_blank"
					rel="noopener noreferrer"
				>
					<Icon
						size="2rem"
						name="instagram"
					/>
				</a>
			)
		}

		{
			linkedIn && (
				<a
					href={linkedIn}
					target="_blank"
					rel="noopener noreferrer"
				>
					<Icon
						size="2rem"
						name="linkedin"
					/>
				</a>
			)
		}

		{
			etsy && (
				<a
					href={etsy}
					target="_blank"
					rel="noopener noreferrer"
				>
					<Icon
						size="2rem"
						name="etsy"
					/>
				</a>
			)
		}
		{
			eventbrite && (
				<a
					href={eventbrite}
					target="_blank"
					rel="noopener noreferrer"
				>
					<Icon
						size="2rem"
						name="eventbrite"
					/>
				</a>
			)
		}
	</div>
</div>
<style>
	.wrapper {
		display: grid;
		gap: 0.5rem;
	}
	.website {
		line-height: 1;
		width: fit-content;
		background-color: var(--color-text);
		color: var(--color-surface);
		text-decoration: none;
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		margin-bottom: 0.5rem;
		font-weight: 600;
	}
	.socials {
		display: flex;
		gap: 0.5rem;
	}
	a {
		color: currentColor;
	}
</style>
